.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.h1 {
  padding-top: 30px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.headerIcon {
  padding-right: 10px;
}

.button--settings {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
