.ul {
  list-style-type: none;
}
.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9e9e9e;
  padding: 0.75rem 1.2rem;
  cursor: pointer;
}
.li.active {
  border-left: 6px solid rgb(61 46 46);
}
.title {
  color: #ffffffba;
  letter-spacing: 3px;
  padding-top: 18px;
  border-top: solid 1px #ffd5d5;
}

.taskDetails {
  display: flex;
  align-items: center;
}
.taskName {
  color: #575757;
  word-break: break-word;
}
.taskName--isDone {
  color: #575757c2;
  text-decoration: line-through;
}
.taskIcon {
  padding-right: 10px;
  height: 28px;
}
.taskIcon:hover {
  color: #9e9e9ea6;
}
.taskIcon--isDone {
  color: #ff0000a3;
}

.taskIcon--isDone:hover {
  color: #ff000062;
}

.dotsIcon {
  margin-left: 28px;
  color: #9e9e9e;
}
.button--newTask {
  margin: 30px auto;
  padding: 0.75rem 1.2rem;
  height: 64px;
  background-color: #57575767;
  border: dashed #ffffff47 2px;
  color: rgb(255 255 255 / 77%);
}
